@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply text-sm py-2 px-3 rounded-md border dark:border-white/10 dark:focus-within:border-white/20
    }

    .btn {
        @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium h-10 px-4 py-2
    }

    .btn:disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    .btn-primary {
        @apply bg-primary hover:bg-primary/90 text-white
    }

    input {
        background-color: transparent;
    }

    input:focus {
        outline: none;
    }

    form {
        margin: 0px;
    }
}