@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply o-text-sm o-py-2 o-px-3 o-rounded-md o-border dark:o-border-white/10 dark:focus-within:o-border-white/20
    }

    .btn {
        @apply o-inline-flex o-items-center o-justify-center o-whitespace-nowrap o-rounded-md o-text-sm o-font-medium o-h-10 o-px-4 o-py-2
    }

    .btn:disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    .btn-primary {
        @apply o-bg-primary hover:o-bg-primary/90 o-text-white
    }

    input {
        background-color: transparent;
    }

    input:focus {
        outline: none;
    }

    form {
        margin: 0px;
    }
}

:root {
    scroll-padding-top: 64px;
    scroll-behavior: smooth;
}