package components

type ChangelogArgs struct {
	Title    string
	Subtitle string
}

templ Changelog(c ChangelogArgs) {
	<main class="content-container">
		<div class="header">
			if c.Title != "" {
				<h1>{ c.Title }</h1>
			}
			if c.Subtitle != "" {
				<p>{ c.Subtitle }</p>
			}
		</div>
		{ children... }
	</main>
}
