package components

type FooterArgs struct {
	HidePoweredBy bool
}

templ Footer(args FooterArgs) {
	<footer class="border-t border-t-gray-200 dark:border-t-gray-800 mt-10 pt-10 pb-20">
		if !args.HidePoweredBy {
			<div class="text-caption px-4 sm:px-0">
				Powered by <a href="https://openchangelog.com" target="_blank">Openchangelog</a>
			</div>
		}
	</footer>
}
