package components

templ Footer() {
    <footer class="border-t mt-10 pt-10 pb-20 text-caption">
        Powered by <a href="https://openchangelog.com" target="_blank">Openchangelog</a>
    </footer>
}