package components

type FooterArgs struct {
	HidePoweredBy bool
}

templ Footer(args FooterArgs) {
	<footer class="o-border-t o-border-t-gray-200 dark:o-border-t-gray-800 o-mt-10 o-pt-10 o-pb-20">
		if !args.HidePoweredBy {
			<div class="o-text-caption o-px-4 sm:o-px-0">
				Powered by <a href="https://openchangelog.com" target="_blank">Openchangelog</a>
			</div>
		}
	</footer>
}
