package components

import "github.com/jonashiltl/openchangelog/apitypes"

templ HeaderContainer() {
	<header>
		{ children... }
	</header>
}

type HeaderArgs struct {
	Title    apitypes.NullString
	Subtitle apitypes.NullString
}

templ HeaderContent(args HeaderArgs) {
	if args.Title.IsValid() {
		<h1>{ args.Title.V() }</h1>
	}
	if args.Subtitle.IsValid() {
		<p>{ args.Subtitle.V() }</p>
	}
}
