package components

import "github.com/guregu/null/v5"

templ HeaderContainer() {
	<header>
		{ children... }
	</header>
}

type HeaderArgs struct {
	Title    null.String
	Subtitle null.String
}

templ HeaderContent(args HeaderArgs) {
	if !args.Title.IsZero() {
		<h1>{ args.Title.String }</h1>
	}
	if !args.Subtitle.IsZero() {
		<p>{ args.Subtitle.String }</p>
	}
}
