package components

// A wrapper to apply tailwind typography styles to the underlying texts
templ DefaultStyle() {
	<div class="mx-auto w-full flex-1 flex flex-col justify-between prose prose-sm sm:prose-base prose-p:my-2 prose-p:leading-6 prose-h1:mb-3 prose-h2:mb-2 prose-h3:mb-2 prose-a:no-underline hover:prose-a:underline prose-a:underline-offset-4 prose-a:text-primary hover:prose-a:text-primary-highlight prose-img:rounded dark:prose-invert">
		{ children... }
	</div>
}
