{{ block "index" . }}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Changelog</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/output.css'>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body>
    {{ template "header" . }}
    <main class="max-w-2xl mx-auto pt-10">
        {{ range .Articles }}
        {{ template "article" . }}
        {{end}}
    </main>
</body>

</html>
{{ end }}