package views

import "github.com/jonashiltl/openchangelog/web/views/layout"
import "github.com/jonashiltl/openchangelog/components"

type IndexArgs struct {
	components.NavbarArgs
	components.ChangelogArgs
}

templ Index(arg IndexArgs) {
	@layout.Header() {
		@components.Navbar(arg.NavbarArgs)
		@components.Changelog(arg.ChangelogArgs)
	}
}
